*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 20rem;
    height: 20rem;
}
body{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(to right top,#ffff,#607EAA);
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;

    
}
.login-card{
    display: flex;
    width: 100%;
    max-width: 100rem;
    height: 100%;
    max-height: 60rem;
    background-color: #ffff;
    border-radius: 25px; 
}
.login{
    margin-top: 5rem ;
    margin-bottom: 5rem;
    width: 50%;
    max-width: 37rem;
    max-height: 70rem;
    font-weight: bold;
    padding: 4rem;
}
.title-login{
    font-size: 30px;
    text-align: center;


}
.login-form{
    margin-top: 6rem;
}
.input-user{
    margin-bottom: 4rem;
}
#error-message {
	text-align: center;	
}
.error-text {
	color: red;
	font-size: 1.2em;
}
.form-input{
    font-family: 'Poppins', sans-serif;
    color:black;
    padding:1.5rem;
    border-radius: 1rem;
    outline:none;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid #eee;
    background-color: white;
    transition:0.25s linear;
    width: 100%;
}
.form-input:focus{
    border-color:white  ;
    background: #eee;
}

.btn-in{
    margin-top: 5rem;
    width:16rem;
    height:6rem;
    max-width: 16rem;
    max-height: 6rem;
    border-radius: 2.5rem;
    color: #ffff;
    outline: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: 0 ;
    background-color: #00aefd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.btn-in:hover{
    background-color:#748DA6;
    border-color:white  ;
}
.sign-up{
    font-size: 15px;
    align-items: baseline;
    margin-right: 2rem;

}
.sign-up:hover{
    color: #748DA6;
}
.ad{
    position: relative; 
    width: 100%;
}
.banner{
    width: 100%;
    height: 100%;
    border-radius:0 25px 25px 0 ;
    opacity: 0.3;
    position: absolute;
}
.banner-title{
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    color: black ;
    top: 40%;
    left:12%;


}
.banner-slogan{
    position: absolute;
    font-size: 2rem;
    color: black;
    top: 50%;
    left:22%;
}

.link-container {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4vh;
}
